.features__item{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #4b4bff transparent;
}

h2 a span {
    font-weight: bold !important;
    font-size: 38px !important; /* 更大的字体大小 */
    color: #3d3dea !important;
}

h3 a span {
    font-weight: bold !important;
    font-size: 28px !important; /* 更大的字体大小 */
}

h4 a span {
    font-weight: bold !important;
    font-size: 22px !important; /* 更大的字体大小 */
}


.bulletin-wrapper {
    top: 10rem;
}

.series-container {
    width: 20rem !important; /* 固定宽度 */
    overflow-y: auto; /* 允许垂直滚动 */
    overflow-x: hidden; /* 隐藏水平滚动条 */
    scrollbar-width: none; /* 隐藏滚动条（适用于 Firefox） */
    -ms-overflow-style: none; /* 隐藏滚动条（适用于 IE 和 Edge） */
}

/* 隐藏滚动条（适用于 Webkit 浏览器，如 Chrome 和 Safari） */
.series-container::-webkit-scrollbar {
    display: none;
}

.page-catalog-container {
    width: 22rem !important; /* 固定宽度 */
    overflow-y: auto; /* 允许垂直滚动 */
    overflow-x: hidden; /* 隐藏水平滚动条 */
    scrollbar-width: none; /* 隐藏滚动条（适用于 Firefox） */
    -ms-overflow-style: none; /* 隐藏滚动条（适用于 IE 和 Edge） */
}

/* 隐藏滚动条（适用于 Webkit 浏览器，如 Chrome 和 Safari） */
.page-catalog-container::-webkit-scrollbar {
    display: none;
}

.theme-container .theme-main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100% !important;
}
.reco-giscus-wrapper {
    max-width: 100% !important;
}

.navbar-container .navbar-inner {
    max-width: 100% !important;
}